<style>

img {
	width: 30vw;
	height: 30vh;
	background-position: 50% 50%;
	}

body{
	background-color: #0033CC;
}


.mycss
{
	font-weight:bold;
	color:#FFFFFF;
	letter-spacing:4pt;
	word-spacing:-6pt;
	font-size:47px;
	text-align:center;
	font-family:arial, helvetica, sans-serif;line-height:1;
}


</style>

<body>
<p class = "mycss">{{user.displayName}}'s Picture Collage</p>

<center>
<img src="{{picture.im1}}">
<img src="{{picture.im2}}">
<img src="{{picture.im3}}">
<img src="{{picture.im4}}">
<img src="{{picture.im5}}">
<img src="{{picture.im6}}">
<img src="{{picture.im7}}">
<img src="{{picture.im8}}">
<img src="{{picture.im9}}">
</center>
</body>